#本文件是BBDown程序的配置文件
#以#开头的都会被程序忽略
#然后剩余非空白内容程序逐行读取，对于一个选项，其参数应当在下一行出现

#例如下面将设置输出文件名格式
--file-pattern
"<videoTitle>-[<dfn>][<res>][<fps>fps][<videoCodecs>][<videoBandwidth>kbps]-[<audioCodecs>][<audioBandwidth>kbps]-[<bvid>]-by[<ownerName>][<ownerMid>][<publishDate>]"

--multi-file-pattern
"<videoTitle>-[<bvid>]/[P<pageNumberWithZero>]-<pageTitle>-[<dfn>][<res>][<fps>fps][<videoCodecs>][<videoBandwidth>kbps]-[<audioCodecs>][<audioBandwidth>kbps]-[<bvid>]-by[<ownerName>][<ownerMid>][<publishDate>]"
#"<pageTitle>-[P<pageNumberWithZero>]-[<dfn>][<res>][<fps>fps][<videoCodecs>][<videoBandwidth>kbps]-[<audioCodecs>][<audioBandwidth>kbps]-[<bvid>]-by[<ownerName>][<ownerMid>][<publishDate>]"

#下面设置下载多个分P时，每个分P的下载间隔为2秒
--delay-per-page
2

--select-page
all

--dfn-priority
"杜比视界, HDR 真彩, 8K 超高清, 4K 超清, 1080P 高帧率, 1080P 高码率, 1080P 高清, 720P 高清"
#"1080P 高帧率, 1080P 高码率, 1080P 高清, 720P 高清, 杜比视界, HDR 真彩, 4K 超清, 8K 超高清"

--encoding-priority
"hevc,av1,avc"

# --use-aria2c

# --aria2c-args
# "-x16 -s16 -j16 -k 5M"

# --use-mp4box

# --skip-ai
# false

#开启弹幕下载功能
#--download-danmaku

--work-dir
"D:/download-buffer/BBDown/all"
#"D:/download-buffer/BBDown/star/3"
